<ion-content>
  <ion-grid>
      <div class="head">
      <ion-row>
        <ion-col>
          <div class="arrow" (click)="return()">
            <ion-img
            src="../../../assets/arrow-right.png" alt="arrow-left"
            ></ion-img>
          </div>
        </ion-col>
        <ion-col>
          <div class="logoAli">
            <ion-img class="logo"
            src="../../assets/logo-fazenda.png"
            alt="logo-fazenda">
          </ion-img>
        </div>
        </ion-col>
      </ion-row>
      </div>
      <ion-row>
        <ion-col>
          <ion-text>
            <h1 class="pageTitle">Selecione o método de pagamento</h1>
          </ion-text>
        </ion-col>
      </ion-row>
        <!--Input Nome-->


          <!--Botão de Confirmar!-->
      <ion-row>
        <ion-col>
          <div class="btn_row">
          <ion-button class="btnSend">
            <div class="aliImg1"><ion-icon name="card-outline"></ion-icon></div>
            <label>Cartão de Crédito</label>
            <div class="aliImg2"><ion-icon name="chevron-forward"></ion-icon></div>
          </ion-button>
          </div>
        </ion-col>
      </ion-row>


  </ion-grid>
  </ion-content>
