ion-tab-bar, ion-tab-button{
  background-color: rgba(17, 152, 230, 1);
  --background-checked: grey;
  --handle-background:#f2f2f2;
 ion-label{
    color: white;
  }
  ion-tab-button:hover{
    ----handle-background:grey;
  }

}
ion-icon{
  color: white;
}
