<ion-content>
  <ion-grid>

      <ion-row>
        <ion-col>
          <div class="arrow" (click)="return()">
            <ion-img
            src="../../../assets/arrow-right.png" alt="arrow-left"
            ></ion-img>
          </div>
        </ion-col>
        <ion-col>
          <div class="logoAli">
            <ion-img class="logo"
            src="../../assets/logo-fazenda.png"
            alt="logo-fazenda">
          </ion-img>
        </div>
        </ion-col>
      </ion-row>

        <!--Input nome completo-->
      <ion-row>
        <ion-col>
          <div class="txtAli3">
            <ion-text>
              <h1>
               Nome completo:
              </h1>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="inputAli">
          <ion-item lines="none">
            <ion-input type="text"></ion-input>
          </ion-item>
          </div>
        </ion-col>
      </ion-row>


        <!--Input CPF-->
        <ion-row>
          <ion-col>
            <div class="txtAli">
              <ion-text>
                <h1>
                 CPF:
                </h1>
              </ion-text>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="inputAli">
            <ion-item lines="none">
              <ion-input type="number"></ion-input>
            </ion-item>
            </div>
          </ion-col>
        </ion-row>


          <!--Input Celular-->
      <ion-row>
        <ion-col>
          <div class="txtAli">
            <ion-text>
              <h1>
               Celular:
              </h1>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="inputAli">
          <ion-item lines="none">
            <ion-input type="number"></ion-input>
          </ion-item>
          </div>
        </ion-col>
      </ion-row>


        <!--Input Email: -->
        <ion-row>
          <ion-col>
            <div class="txtAli">
              <ion-text>
                <h1>
                 Email:
                </h1>
              </ion-text>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <div class="inputAli">
            <ion-item lines="none">
              <ion-input type="email"></ion-input>
            </ion-item>
            </div>
          </ion-col>
        </ion-row>


          <!--Input Senha-->
      <ion-row>
        <ion-col>
          <div class="txtAli">
            <ion-text>
              <h1>
              Senha:
              </h1>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="inputAli">
          <ion-item lines="none">
            <ion-input type="password"></ion-input>
          </ion-item>
          </div>
        </ion-col>
      </ion-row>


           <!--Input Senha-->
           <ion-row>
            <ion-col>
              <div class="txtAli2">
                <ion-text>
                  <h1>
                  Confirmação de senha:
                  </h1>
                </ion-text>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <div class="inputAli">
              <ion-item lines="none">
                <ion-input type="password"></ion-input>
              </ion-item>
              </div>
            </ion-col>
          </ion-row>


          <!--Botão de Confirmar!-->
      <ion-row>
        <ion-col>
          <div class="btn_row">
          <ion-button class="btnSend">Confirmar</ion-button>
          </div>
        </ion-col>
      </ion-row>


  </ion-grid>
  </ion-content>
