ion-content{
  --background:#D9D9D9;
}

.logoAli{
  margin-top: 70px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.txtAli{

  text-align: center;
  margin-bottom: 40px;
  h1{
    font-size: 1.5em;
    font-weight: bolder;
    margin-left: -30px;
  }
}
.logo{
  max-width: 320px;
}

ion-input{
  --background:white;
  outline: none !important;
  box-shadow: none !important;
  border: none;
}
ion-item{
  width: 300px;
  border: solid black 1.5px;
  min-height:30px ;
  max-height: 300px;
  outline: none !important;
  border-radius: 5px;

  ion-img{
    background: white !important;
    opacity: 0.5;
  }
}

.inputAli{
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons{
  padding-right: 10px;
  max-width: 35px;
}


.fStyle{
  text-align: end;
  margin-right:25px;
  ion-text{
    p{
      font-weight: bold;
      text-align: end;
    }
    h3{
      a{
        color: black;
      }
      font-size: 1em;
      text-align: start;
      text-decoration: none;

    }
  }
}

.btn_row{
  margin-top: 40px;
  text-align: center;
 ion-button{
  font-weight: bold;
  font-size: 1.2em;
  width:300px;
  height: 55px;
  text-transform: none;
  --border-radius: 5px;
  text-decoration: none;
  --color-focused:none;
  outline: 0;
  }

 }


 .btn_row2{
  text-align: center;
 ion-button{
  font-weight: bold;
  font-size: 1.2em;
  width:300px;
  height: 55px;
  text-transform: none;
  --border-radius: 5px;
  text-decoration: none;
  --color-focused:none;
  outline: 0;
  }

 }


 .btnSend{
  --border-radius: 5px;
  --background: #3BB1F5;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 .btnCancel{
  --border-radius: 5px;
  --background: #999999;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }


.subR{
  font-size: 1.1em;
  margin-left: -170px;
  margin-bottom: -20px;
 text-align: center;
 font-weight: 450;
}
