<ion-content>
  <ion-grid>
      <div class="head">
      <ion-row>
        <ion-col>
          <div class="arrow" (click)="return()">
            <ion-img
            src="../../../assets/arrow-right.png" alt="arrow-left"
            ></ion-img>
          </div>
        </ion-col>
        <ion-col>
          <div class="logoAli">
            <ion-img class="logo"
            src="../../assets/logo-fazenda.png"
            alt="logo-fazenda">
          </ion-img>
        </div>
        </ion-col>
      </ion-row>
      </div>
      <ion-row>
        <ion-col>
          <ion-text>
            <h1 class="pageTitle">Alteração de senha</h1>
          </ion-text>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="6">
          <div class="txtAli3">
            <ion-text class="aliInput">
              <h1 class="inputName">
               Nova senha:
              </h1>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <div class="inputAli">
          <ion-item lines="none">
            <ion-input type="password"></ion-input>
          </ion-item>
          </div>
        </ion-col>
      </ion-row>



      <ion-row>
        <ion-col size="8">
          <div class="txtAli3">
            <ion-text class="aliInput2">
              <h1 class="inputName">
               Confirmação de senha:
              </h1>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <div class="inputAli">
          <ion-item lines="none">
            <ion-input type="password"></ion-input>
          </ion-item>
          </div>
        </ion-col>
      </ion-row>


          <!--Botão de Confirmar!-->
      <ion-row>
        <ion-col>
          <div class="btn_row">
          <ion-button class="btnSend">Confirmar</ion-button>
          </div>
        </ion-col>
      </ion-row>


  </ion-grid>
  </ion-content>
