<ion-content>
  <ion-grid>

      <ion-row>
        <ion-col>
          <div class="logoAli">
            <ion-img class="logo"
            src="../../assets/logo-fazenda.png"
            alt="logo-fazenda">
          </ion-img>
        </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="txtTitleAli">
            <ion-text>
              <h1>
                Código Válido!
              </h1>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <div class="txtAli">
            <ion-text>
              <h1>
                Insira o novo número de celular </h1>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="inputAli">
          <ion-item lines="none">
            <ion-input type="text" placeholder="(XX) XXXXX-XXXX"></ion-input>
          </ion-item>
          </div>
        </ion-col>
      </ion-row>




      <ion-row>
        <ion-col>
          <div class="btn_row">
          <ion-button class="btnSend" (click)="btnSend()">Confirmar</ion-button>
          </div>
        </ion-col>
      </ion-row>



      <ion-row>
        <ion-col>
          <div class="btn_row">
            <ion-button [routerLink]="['/conta']" class="btnCancel">Cancelar</ion-button>
            </div>
        </ion-col>
      </ion-row>

  </ion-grid>
  </ion-content>
