<ion-menu contentId="main-content">
  <ion-header>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="">
      <ion-row>
        <ion-col>
          <ion-img (click)="dismissSideMenu()"class="close" src="../../../assets/close.png">
          </ion-img>
          </ion-col>
      </ion-row>
      <ion-row >
          <ion-col>
            <div class="alignment">
              <section class="sectImg">
                <ion-img class="userImg" src="../../../assets/user.png">
                </ion-img>
              </section>
            </div>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          <ion-text>
            <h4 class="username">
              {{username}}
            </h4>
          </ion-text>
        </ion-col>
        </ion-row>
        <!--Botão Configurações de conta-->
      <div class="line1">
        <ion-row>
          <ion-col size="2">
            <ion-img class="iconMenu" src="../../../assets/gear.png"></ion-img>
          </ion-col>
          <ion-col size="10">
            <div class="btn" (click)="accountSettings()" >
            <div class="btnAccount">
              Configurações da Conta
            </div>
            </div>
          </ion-col>
        </ion-row>
      </div>
        <!--Botão Suporte-->
      <div class="line2">
        <ion-row>
          <ion-col size="2">
            <ion-img class="iconMenu" src="../../../assets/call-center-operator.png"></ion-img>
          </ion-col>
          <ion-col size="10">
            <div (click)="contactUs()" class="btnAccount">
              Suporte ao usúario
            </div>
          </ion-col>
        </ion-row>
      </div>
        <!--Botão Encerrar sessão-->
      <div class="aliLogOut">
        <ion-row>
          <ion-col size="2">
            <ion-img class="iconMenu" src="../../../assets/exit.png"></ion-img>
          </ion-col>
          <ion-col size="10">
            <div (click)="logOut()" class="btnDisconnect">
              Encerrar sessão
          </div>
          </ion-col>
        </ion-row>
      </div>

    </div>
  </ion-content>
</ion-menu>



<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
        <div class="logoAli">
          <ion-img class="logo"
          src="../../../assets/logo-fazenda.png"
          alt="logo-fazenda">
        </ion-img>
        </div>
    </ion-toolbar>
  </ion-header>
  <ion-content> Tap the button in the toolbar to open the menu.</ion-content>
</div>
