<ion-content>
  <ion-grid>

      <ion-row>
        <ion-col>
          <div class="arrow" >
            <ion-img
            src="../../../assets/arrow-right.png" alt="arrow-left"
            ></ion-img>
          </div>
        </ion-col>
        <ion-col>
          <div class="logoAli">
            <ion-img class="logo"
            src="../../assets/logo-fazenda.png"
            alt="logo-fazenda">
          </ion-img>
        </div>
        </ion-col>
      </ion-row>

        <!--Input nome completo-->


  </ion-grid>
  </ion-content>
