ion-content{
  --background:#D9D9D9;
}

.logoAli
{
  align-items: end;
  display: flex;
  justify-content: end;
}

.logo{
  max-width: 320px;
}

.arrow
{
  margin: 10px 10px;
  transform: scaleX(-1);
  max-width: 30px;
}

.square
{
  max-width: 200px;
  max-height: 200px;
  background-color: white;
  border-radius: 10px;
}
.imgUser
{
  padding: 15px;
  max-width: 120px;
  min-width: 120px;
}

.alHeader
{
  margin-top: 50px;
}

.alText
{
  margin-right: 20px;
  text-align: start;
  justify-content: start;
}

.divUserImg{
  display: flex;
  align-items: center;
  justify-content: center;
}

#hLbl{
  font-weight: bold;
}

#nmLbl, #emLbl, #celLbl{
  margin-bottom: 5px;
  color: black;
  font-size: 0.8em;
}
.head{
  background-color: #CACACA;
}
.divInput{
  margin-top: 15px;
  border-top: solid 4px #CACACA;
  border-bottom: solid 4px #CACACA;
}

.sectInput{
  font-size: 1.1em;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  text-decoration: none;
  background: transparent;
}

.sectInput2{
  border-top: solid 4px #CACACA;
  font-size: 1.1em;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  text-decoration: none;
  background: transparent;
}

.iconali
{
  font-size: 1.6em;
  margin-top: 15px;
  text-align: end;
  margin-right: 20px;
}

.iconali2
{
  font-size: 1.6em;
  text-align: end;
  margin-right: 20px;
  margin-bottom: -10px;
}

.aliCel{
  margin-left: 20px;
}

.mRow{

}
